footer {
    background-color: #fffe8f;
}

#footer_itens {
    display: flex;
    justify-content: space-between; /* Empurra os itens para os extremos */
    padding: 2px 8% 24px 8%;        /* Adiciona um respiro nas laterais */
    align-items: center;            /* Alinha verticalmente no centro */
}

#copyright {
    color: #1d1d1d;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_itens {
        flex-direction: column;
        gap: 20px;

    }
}